.not-found img {
  display: block;
  margin: auto;
  width: 50%;
}

/*-------------------------------------------------------------*/
            /* MEDIA QUERIES FOR MOBILE DEVICES */
/*-------------------------------------------------------------*/

@media (max-width:800px) {
  .not-found img {
    display: block;
    margin: auto;
    width: 100%;
  }
}